@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
	text-decoration:none
}
:focus {
	outline:0
}
body {
	line-height:1;
	color:black;
	background:white
}
ol, ul {
	list-style:none
}
table {
	border-collapse:separate;
	border-spacing:0
}
caption, th, td {
	text-align:left;
	font-weight:normal
}
blockquote:before, blockquote:after, q:before, q:after {
	content:""
}
blockquote, q {
	quotes:none
}
body, html {
	font-family:'Lato', sans-serif;
	text-rendering:optimizeLegibility!important;
	-webkit-font-smoothing:antialiased!important;
	color:#5a5a5a
}
*, *:after, *:before {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
h1 {
	text-transform:uppercase
}
h1 strong {
	font-weight:900
}
h2 {
	text-transform:uppercase;
	line-height:40px;
	margin:0
}
h3 {
	font-size:18px;
	font-weight:900
}
h4 {
	text-transform:uppercase;
	font-size:18px;
	color: #00247d;
	line-height:30px;
}
h5 {
	font-weight:700;
	line-height:20px
}
p {
	font-family:'Open Sans', sans-serif;
	line-height:normal;
}
p.intro {
	font-size:16px;
	margin:12px 0 0;
	line-height:24px;
	font-family:'Open Sans', sans-serif
}
p.intro a {
	color: #00247d;
}
a {
	color: #cf142b;
	outline:0;
}
a:hover, a:focus {
	text-decoration:none;
	color:#00247d;
	outline:0;
}
.section-title hr {
	border-color: #00247d;
	border-width:4px;
	width:60px;
	float:left;
	clear:both;
}
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0
}
.clearfix {
	display:inline-block
}
* html .clearfix {
	height:1%
}
.clearfix {
	display:block
}
ul, ol {
	padding:0;
	webkit-padding:0;
	moz-padding:0
}
#tf-menu {
	padding:0px;
	transition:all .8s
}
#tf-menu.navbar-default {
	background-color:rgba(0,0,0,0.9);
	border-color:rgba(231,231,231,0)
}
#tf-menu a.navbar-brand {
	text-transform:uppercase;
	font-size:22px;
	color:#fff;
	font-weight:900
}
#tf-menu.navbar-default .navbar-nav>li>a {
	text-transform:uppercase;
	color:#FFF;
	font-size:10px;
	letter-spacing:1px;
	outline:0;
	padding-bottom:19px;
	padding-top:20px
}
.on {
	background-color:#222!important;
	padding:0!important
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color:#429add!important;
	background-color:transparent;
	font-weight:700
}
.navbar-toggle {
	border-radius:0
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color:#00247d;
	border-color:#00247d
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color:#FFF
}
.carousel .item {
	bottom:0;
	left:0;
	min-height:682px;
	position:absolute;
	right:0;
	top:0
}
.carousel-fade .carousel-inner .active {
	opacity:1
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	left:0;
	opacity:0;
	z-index:1
}
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	opacity:1
}
.carousel-fade .carousel-control {
	z-index:2
}
.carousel-fade .carousel-inner .item {
	-webkit-transition-property:opacity;
	transition-property:opacity
}
.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	opacity:0
}
.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	opacity:1
}
.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	left:0;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0)
}
.carousel-fade .carousel-control {
	z-index:2
}
#tf-home .item:nth-child(1) {
	background:url(file:///Macintosh%20HD/Root/img/1.jpg);
	background-repeat:no-repeat;/*background-attachment:fixed;*/
	background-position: 0px 62%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover
}
#tf-home .item:nth-child(2) {
	background:url(file:///Macintosh%20HD/Root/img/2.jpg);
	background-repeat:no-repeat;/*background-attachment:fixed;*/
	background-position:0 13%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover
}
#tf-home .item:nth-child(3) {
	background:url(file:///Macintosh%20HD/Root/img/3.jpg);
	background-repeat:no-repeat;/*background-attachment:fixed;*/
	background-position: 0 -15%;
	/*background-position:center;*/
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover
}
#tf-home .item:nth-child(4) {
	background:url(file:///Macintosh%20HD/Root/img/4.jpg);
	background-repeat:no-repeat;/*background-attachment:fixed;*/
	background-position: 0 15%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover
}
#tf-home {
	color:#cfcfcf
}
.text-center .container {
	position:relative
}
#tf-home .overlay {
	background:-moz-linear-gradient(top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.8)), color-stop(17%, rgba(0,0,0,0.73)), color-stop(35%, rgba(0,0,0,0.66)), color-stop(62%, rgba(0,0,0,0.55)), color-stop(100%, rgba(0,0,0,0.4)));
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
	background:linear-gradient(to bottom, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
	height:750px;
	background-attachment:fixed
}
#tf-home p.lead {
	color:#333;
	font-weight:600;
	font-size:18px
}
.welcome-text {
	position:absolute;
	top:20%;
	right:15px;
	max-width:400px;
	z-index:99
}
.form-area {
	position:absolute;
	top:20%;
	right:15px;
	z-index:1
}
.content {
	position:relative;
	margin:56% 0 0
}
.color {
	color:#cf142b
}
a.fa.fa-angle-down {
	border:2px solid #cf142b;
	border-radius:50%;
	color:#cf142b;
	font-size:24px;
	font-weight:bold;
	height:48px;
	margin-top:200px;
	padding:10px 0;
	text-align:center;
	transition:all .5s ease 0s;
	width:48px
}
a.fa.fa-angle-down:hover {
	background:#cf142b;
	color:#fff;
	border:2px solid #cf142b
}
#tf-about {
	padding:80px 0
}
ul.about-list {
	margin:30px 0 0
}
ul.about-list li {
	display:block;
	font-size:16px;
	line-height:30px;
	font-family:'Open Sans', sans-serif
}
ul.about-list li span {
	margin-right:1.5%;
	margin-top:2px;
	width:14px;
}
.about-list p, .about-list span {
	display:inline-block;
	line-height:normal;
	vertical-align:top;
}
.about-list p {
	width: 92%;
}
#tf-team {
	background:url(file:///Macintosh%20HD/Root/img/03.jpg);
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	color:#fff
}
#tf-team .overlay {
	height:auto;
	background-attachment:fixed;
	padding:80px 0
}
.section-title.center {
	padding:30px 0 30px;
}
.section-title h2, .section-title.center h2 {
	font-weight:300;
	font-size:28px
}
.section-title.center .line {
	border-top: 4px solid #cf142b;
	height:10px;
	width:60px;
	text-align:center;
	margin:0 auto;
	margin-top:20px;
}
.section-title.center hr {
	border-top: 4px solid rgba(207, 20, 43, 0.54);
	width:40px;
	text-align:center;
	margin-top:10px;
	position:relative;
	left:17%;
}
#team {
	margin:0 auto
}
#team .item {
	padding:0;
	margin:15px;
	color:#FFF;
	text-align:center
}
img.img-circle.team-img {
	width:120px;
	height:120px;
	border:4px solid transparent;
	transition:all .5s
}
#tf-team .item .thumbnail:hover>img.img-circle.team-img {
	border:4px solid #00247d
}
#tf-team .section-title.center {
	padding-top:0;
}
#tf-team .thumbnail {
	background:transparent;
	border:0
}
#tf-team .thumbnail .caption {
	padding:9px;
	color:#f2f2f2
}
.owl-theme .owl-controls .owl-page span {
	display:block;
	width:10px;
	height:10px;
	margin:5px 7px;
	filter:Alpha(Opacity=1);
	opacity:1;
	-webkit-border-radius:0;
	-moz-border-radius:20px;
	border-radius:0;
	background:#fff;
	transition:all .5s
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter:Alpha(Opacity=100);
	opacity:1;
	background: #cf142b;
}
.owl-theme .owl-controls .owl-page.active span {
	background:#cf142b
}
#tf-services {
	padding:10px 0 20px
}
.space {
	margin-top:40px
}
#tf-services i.fa {
	font-size:40px;
	border: 4px solid #cf142b;
	width:100px;
	height:100px;
	padding:27px 25px;
	margin-bottom:10px;
	border-radius:50%;
	transition:all .5s;
}
#tf-services i.fa.fa-mobile {
	font-size:50px;
	padding:20px 25px
}
#tf-services .service:hover>i.fa {
	background:#00247d;
	color:#fff
}
#tf-clients {
	background:url(file:///Macintosh%20HD/Root/img/04.jpg);
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	color:#fff
}
#tf-clients .overlay {
	background:-moz-linear-gradient(top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.8)), color-stop(17%, rgba(0,0,0,0.73)), color-stop(35%, rgba(0,0,0,0.66)), color-stop(62%, rgba(0,0,0,0.55)), color-stop(100%, rgba(0,0,0,0.4)));
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
	background:linear-gradient(to bottom, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
	padding:80px 0;
	background-attachment:fixed
}
#clients .item {
	padding:0;
	margin:35px;
	color:#FFF;
	text-align:center
}
#tf-works {
	padding:80px 0
}
.categories {
	padding:10px 0
}
ul.cat li {
	display:inline-block
}
#tf-works li.pull-right {
	margin-top:10px
}
ol.type li {
	display:inline-block;
	margin-left:20px
}
ol.type li:after {
	content:' | ';
	margin-left:20px
}
ol.type li:last-child:after {
	content:''
}
ol.type li a {
	color:#222
}
ol.type li a.active {
	font-weight:700
}
.isotope-item {
	z-index:2
}
.isotope-hidden.isotope-item {
	z-index:1
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration:.8s;
	-moz-transition-duration:.8s;
	transition-duration:.8s
}
.isotope-item {
	margin-right:-1px;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden
}
.isotope {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transition-property:height, width;
	-moz-transition-property:height, width;
	transition-property:height, width
}
.isotope .isotope-item {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transition-property:-webkit-transform, opacity;
	-moz-transition-property:-moz-transform, opacity;
	transition-property:transform, opacity
}
.portfolio-item {
	margin-bottom:30px
}
.portfolio-item .hover-bg {
	height:260px;
	overflow:hidden;
	position:relative
}
.hover-bg .hover-text {
	position:absolute;
	text-align:center;
	margin:0 auto;
	color:#fff;
	background:rgba(0,0,0,0.66);
	padding:25% 0;
	height:100%;
	width:100%;
	opacity:0;
	transition:all .5s
}
.hover-bg .hover-text>h4 {
	opacity:0;
	-webkit-transform:translateY(100%);
	transform:translateY(100%);
	transition:all .3s
}
.hover-bg:hover .hover-text>h4 {
	opacity:1;
	-webkit-backface-visibility:hidden;
	-webkit-transform:translateY(0);
	transform:translateY(0)
}
.hover-bg .hover-text>i {
	opacity:0;
	-webkit-transform:translateY(0);
	transform:translateY(0);
	transition:all .3s
}
.hover-bg:hover .hover-text>i {
	opacity:1;
	-webkit-backface-visibility:hidden;
	-webkit-transform:translateY(100%);
	transform:translateY(100%)
}
.hover-bg:hover .hover-text {
	opacity:1
}
#tf-works i.fa {
	height:30px;
	width:30px;
	border:1px solid #00247d;
	font-size:20px;
	padding:5px;
	border-radius:50%;
	color:#00247d
}
#tf-testimonials {
	background:url(file:///Macintosh%20HD/Root/img/05.jpg);
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	color:#fff
}
#tf-testimonials .overlay {
	background:-moz-linear-gradient(top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.8)), color-stop(17%, rgba(0,0,0,0.73)), color-stop(35%, rgba(0,0,0,0.66)), color-stop(62%, rgba(0,0,0,0.55)), color-stop(100%, rgba(0,0,0,0.4)));
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
	background:linear-gradient(to bottom, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
	padding:80px 0;
	background-attachment:fixed
}
#testimonial {
	padding:30px 0
}
#testimonial .item {
	display:block;
	width:100%;
	height:auto
}
#testimonial .item p {
	font-weight:400;
	margin:30px 0;
	color:#d1d1d1
}
nav#footer {
	background:#000;
	color:#fff;
	padding:20px 0;
}
nav#footer .fnav {
	vertical-align:middle
}
ul.footer-social li {
	display:inline-block;
	margin-right:10px
}
nav#footer p {
	font-size:12px;
	margin-top:7px;
	color:#fff;
}
#footer i.fa {
	height:30px;
	width:30px;
	border:2px solid #fff;
	font-size:15px;
	padding:6px 4px;
	border-radius:50%;
	color:#fff;
	transition:all .5s;
	text-align:center;
}
#footer i.fa:hover {
	background:#cf142b;
	border-color:#cf142b;
	color:#fff
}
.footer-social a {
	text-align:center
}
.pull-left.fnav a {
	line-height:normal;
	color:#fff
}
.pull-left.fnav a:hover {
	color: #cf142b;
}
.pull-left span {
	line-height:normal
}
#overlay {
	background:rgba(0,0,0,0.8) none repeat scroll 0 0;
	display:table;
	height:100%;
	margin:0;
	padding:0;
	position:fixed;
	width:100%;
	z-index:999
}
#overlay>div {
	display:table-cell;
	vertical-align:middle
}
#overlay>div .countries {
	border:1px solid #ccc;
	border-radius:10px;
	height:auto;
	margin:0 auto;
	padding:20px;
	width:425px
}
#overlay>div .countries h2 {
	color:#fff;
	font-family:'Open Sans', sans-serif;
	font-size:22px;
	font-weight:400;
	margin:0 auto 20px 0;
	padding:0;
	text-align:center;
	text-transform:uppercase
}
#overlay>div .countries .flags {
	width:410px
}
#overlay>div .countries .flags::after {
	clear:both;
	content:"";
	display:block
}
#overlay>div .countries .flags>input {
	background:rgba(0,0,0,0) url("file:///Macintosh HD/Root/img/aus.svg") no-repeat scroll 0 0;
	border:0 none;
	float:left;
	height:34px;
	margin-right:10px;
	padding:0;
	width:50px
}
#overlay>div .countries .flags a {
	border:0 none;
	display:table;
	float:left;
	height:auto;
	margin:0 10px 0 0;
	overflow:hidden;
	padding:0;
	position:relative;
	z-index:0
}
#overlay>div .countries .flags a:nth-child(7) {
	margin-right:0
}
#overlay>div .countries .flags a .aus {
	background-image:url("file:///Macintosh HD/Root/img/aus.svg");
	background-size:50px auto;
	height:34px;
	width:50px;
	margin-top:10px
}
#overlay>div .countries .flags a .ireland {
	background-image:url("file:///Macintosh HD/Root/img/ireland.svg");
	background-size:50px auto;
	height:34px;
	width:50px;
	margin-top:10px
}
#overlay>div .countries .flags a .usa {
	background-image:url("file:///Macintosh HD/Root/img/us.svg");
	background-size:50px auto;
	height:34px;
	width:50px;
	margin-top:10px
}
#overlay>div .countries .flags a .canada {
	background-image:url("file:///Macintosh HD/Root/img/ca.svg");
	background-size:50px auto;
	height:34px;
	width:50px;
	margin-top:10px
}
#overlay>div .countries .flags a .southafrica {
	background-image:url("file:///Macintosh HD/Root/img/southafrica.svg");
	background-size:50px auto;
	height:34px;
	width:50px;
	margin-top:10px
}
#overlay>div .countries .flags a .australia {
	background-image:url("file:///Macintosh HD/Root/img/au.svg");
	background-size:50px auto;
	height:34px;
	width:50px;
	margin-top:10px
}
#overlay>div .countries .flags a .newzealand {
	background-image:url("file:///Macintosh HD/Root/img/newzealand.svg");
	background-size:50px auto;
	height:34px;
	width:50px;
	margin-top:10px
}
#overlay>div .countries .flags a .flags-overlay {
	background:rgba(255,255,255,0.4) none repeat scroll 0 0;
	display:table-cell;
	margin:0;
	opacity:0;
	padding:17px 25px;
	position:relative;
	text-align:center;
	transition:all 100ms ease-in-out 100ms;
	vertical-align:middle;
	z-index:3!important
}
#overlay>div .countries .flags a:hover .flags-overlay {
	opacity:1;
	transition:all 100ms ease-in-out 100ms;
	z-index:3!important
}
#wld_badge_inner {
	padding:10px 0 10px 10px
}
.wld_badge_item img {
	border-radius: 60px;
	display: block;
	height: 113px;
	left: 0;
	margin: 0 auto;
	position: relative;
	transition: all 0.5s ease 0s;
	width: 111px;
}
.wld_badge_item_photo {
	border: 4px solid #cf142b;
	border-radius: 50%;
	height: 120px;
	margin: 0 auto;
	transition: all 0.5s ease 0s;
	width: 120px;
}
.wld_badge_item {
	float:left;
	width:16.66%
}
.wld_badge_item_detail {
	font-weight:600;
	min-height:inherit;
	line-height:normal;
	overflow:hidden;
	color:#f2f2f2;
	padding:9px
}
.wld_badge_clear {
	clear:both
}
.owl-carousel .owl-wrapper:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0
}
.owl-carousel {
	display:none;
	position:relative;
	width:100%;
	-ms-touch-action:pan-y
}
.owl-carousel .owl-wrapper {
	display:none;
	position:relative;
	-webkit-transform:translate3d(0px, 0px, 0px)
}
.owl-carousel .owl-wrapper-outer {
	overflow:hidden;
	position:relative;
	width:100%
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition:height 500ms ease-in-out;
	-moz-transition:height 500ms ease-in-out;
	-ms-transition:height 500ms ease-in-out;
	-o-transition:height 500ms ease-in-out;
	transition:height 500ms ease-in-out
}
.owl-carousel .owl-item {
	float:left
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor:pointer
}
.owl-controls {
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
.grabbing {
	cursor:url(../grabbing.png) 8 8, move

}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-webkit-transform:translate3d(0, 0, 0);
	-moz-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0)
}
.owl-theme .owl-controls {
	margin-top:10px;
	text-align:center
}
.owl-theme .owl-controls .owl-buttons div {
	color:#FFF;
	display:inline-block;
	zoom:1;
*display:inline;
	margin:5px;
	padding:3px 10px;
	font-size:12px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	background:#869791;
	filter:Alpha(Opacity=50);
	opacity:.5
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
	filter:Alpha(Opacity=100);
	opacity:1;
	text-decoration:none
}
.owl-theme .owl-controls .owl-page {
	display:inline-block;
	zoom:1;
*display:inline
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter:Alpha(Opacity=100);
	opacity:1
}
.owl-theme .owl-controls .owl-page span.owl-numbers {
	height:auto;
	width:auto;
	color:#FFF;
	padding:2px 10px;
	font-size:12px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px
}
.owl-item.loading {
	min-height:150px;
	background:url(../AjaxLoader.gif) no-repeat center center

}
body {
	font-family:'Lato', sans-serif;
	color:#000;
	font-size:100%;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none
}
#form h2 {
	background: #cf142b none repeat scroll 0 0;
	color:#fff;
	font-family:open sans;
	font-size:24px;
	font-weight:bold;
	line-height:normal;
	margin-bottom:10px;
	margin-left:-20px;
	margin-right:-20px;
	padding:5px 0;
	text-align:center;
}
#form {
	background: rgba(0, 36, 125, 0.77) none repeat scroll 0 0;
	box-sizing:border-box;
	height:480px;
	max-width:390px;
	padding:24px 20px;
	text-align:center;
	width:auto;
}
#form>a, #form>a img {
	display:block;
	margin:0 auto
}
#form p {
	color:#fff;
	font-weight:bold;
	line-height:normal;
	margin:20px 0 15px
}
#fstep_1, #fstep_2, #fstep_3, #fstep_4, #fstep_5 {
	height:95px
}
#fstep_1 p, #fstep_2 p, #fstep_3 p, #fstep_4 p, #fstep_5 p {
	text-align:center;
	margin-bottom:15px
}
.steps {
	bottom:8px;
	height:auto;
	left:0;
	margin:auto;
	position:absolute;
	right:0;
	top:auto;
	width:220px
}
.step_bar {
	width:30px;
	height:30px;
	display:inline-block;
	margin:0 5px;
	font-size:14px;
	font-weight:bold;
	color:#e4dacc;
	background:#4d4d4d;
	cursor:pointer;
	text-align:center;
	line-height:29px;
	border-radius:50%
}
.step_highlight {
	background: #cf142b none repeat scroll 0 0;
	border-radius:50%;
	height:30px;
	width:30px;
}
input, select, textarea {
	outline:0
}
input[type=text], input[type=password] {
	width:215px;
	height:26px;
	display:block;
	margin:auto;
	border:1px solid #b1b1b1;
	box-shadow:0 1px 0 #e1e1e1;
	font-size:14px;
	line-height:27px;
	text-align:center;
	color:#333
}
.drop_down_container {
	width:230px;
	margin:0 auto;
	position:relative
}
select {
	width:112px;
	height:30px;
	float:left;
	margin:0 10px 0 0;
	padding:5px;
	font-size:14px;
	color:#333;
	border:1px solid #b1b1b1;
	line-height:20px;
	background:url(file:///Macintosh%20HD/Root/img/dropdown_icon.png) no-repeat -moz-linear-gradient(90deg, #e7e7e7 0, #fff 100%);
	background:url(file:///Macintosh%20HD/Root/img/dropdown_icon.png) 96% 50% no-repeat, -webkit-linear-gradient(90deg, #e7e7e7 0, #fff 100%);
	-webkit-appearance:none
}
select:hover {
	cursor:pointer
}
select#dating-gender.required {
	display:block;
	float:none;
	margin:0 auto;
	width:210px
}
select#dobday.required {
	width:55px
}
select#dobmonth.required {
	width:75px
}
select#dobyear.required {
	width:65px
}
select.error {
	padding:5px;
	color:red;
	border:1px solid red;
	background:url(file:///Macintosh%20HD/Root/img/dropdown_icon.png) no-repeat -moz-linear-gradient(90deg, #e7e7e7 0, #fff 100%)!important;
	background:url(file:///Macintosh%20HD/Root/img/dropdown_icon.png) 96% 50% no-repeat, -webkit-linear-gradient(90deg, #e7e7e7 0, #fff 100%)!important;
	-webkit-appearance:none
}
label.error {
	width:215px;
	font-size:14px;
	text-align:center;
	color:red
}
#fstep_1 label.error {
	position:absolute;
	top:75px;
	left:18px
}
#fstep_2 label.error {
	position:absolute;
	top:45px;
	left:0
}
#fstep_3 label.error {
	position:relative;
	top:10px;
	left:59px
}
#fstep_4 label.error {
	position:relative;
	top:10px;
	left:59px
}
#fstep_5 label.error {
	position:relative;
	top:10px;
	left:59px
}
input[type=text].error, input[type=password].error, textarea.error, select.error {
	background:#ffe8e8 url(file:///Macintosh%20HD/Root/_img/bg_input_errore.png) top left no-repeat

}
input.error, textarea.error, select.error {
	background:#ffe8e8 url(file:///Macintosh%20HD/Root/_img/bg_input_errore.png) top left no-repeat

}
.myButton {
	border-radius:3px;
	color:white;
	cursor:pointer;
	display:inline-block;
	font-family:open sans;
	font-size:18px;
	font-weight:bold;
	height:auto;
	line-height:normal;
	margin:0 auto;
	padding:7px 41px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	width:auto;
	background: #cf142b;
	cursor:pointer;
}
.myButton:hover {
	background:#00247d;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#da6e8f', endColorstr='#ad4162', GradientType=0)
}
.myButton:active {
	position:relative;
	top:1px;
	cursor:pointer
}
span.fprev.myButton {
	display:none!important
}


